@font-face {
  font-family: 'NeueMontreal';
  src: url('./NeueMontreal-Medium.woff2');
  font-display: swap;
  font-weight: 530;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./NeueMontreal-Regular.woff2');
  font-display: swap;
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./NeueMontreal-Bold.woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

// @font-face {
//   font-family: 'NeueMontreal';
//   src: url('./Ubuntu-Light.woff');
//   font-display: swap;
//   font-weight: 300;
//   font-style: normal;
// }

