@import '../../Components/Styles/index.scss';


.header {
    // @extend %container-main;
    background: linear-gradient(360deg, rgba(0, 96, 254, 0.80) 0%, #0060FE 100%);
    width: 100%;
    border-radius: 16px;
    // position: relative;
    
    &__container {
        @extend %container-content;
    //    position: relative;
    }

    &__wrap-menu {
        @extend %flex-between;
        // position: fixed;
        // z-index: 1000;
        // width: 100%;
        // max-width: 1376px;
        margin-top: 32px;
        margin-bottom: 48px;
        padding: 18px 30px;
        background: $color-text-seven;
        border-radius: 16px;

        @media ( max-width: 935px){
            padding: 18px;
         }
         @media ( max-width: 900px){
           flex-wrap: wrap;
           justify-content: center;
         }
         @media ( max-width: 740px){
            flex-wrap: nowrap;
           
          }

        @media ( max-width: 600px){
            position: fixed;
            top: 0;
            left: -250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            // padding: 18px;
            width: 220px;
            height: 100%;
            max-height: 310px;
            margin:15px 3px ;
            background-color: $color-text-four;
            z-index: 100000;
            transition: 0.5s linear;
        }
    }

    .active-menu{
        transform: translateX(250px);
        @media ( max-width: 576px){
            // transform: translateX(0px);
         }

    }

    &__wrap-button{
        display: flex;
        justify-content: end;
        // position: relative;
        z-index: 100000;
    }

    &__button-icon{
        position: fixed;
        width: 50px;
        height: 50px;
        right: 15px;
        top: 10px;
        z-index: 100000;
        fill: $color-text-five;
    }
    &__menu-button {
        display: none;

        @media ( max-width: 600px){
           display: block;
           margin-left: 0px;
        //    min-width:34px;
        //    min-height: 34px;
           margin: 15px;
        }
    }

    &__wrap-logo {
        @extend %flex-center;
        gap: 10px;
        @media ( max-width: 576px){
           margin-bottom: 10px;
        }

        .header__logo {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
        }

        .header__name {
            @extend %font-h4;
            text-align: left
        }
    }

    &__wrap-paragraph {
        @extend %flex-center;
        // width: 100%;

        @media ( max-width: 900px){
           
            justify-content: space-between;
          }
        @media ( max-width: 740px){
            flex-wrap: wrap;
            justify-content: center;
          }

        li {
            @extend %font-h4;
            // flex-wrap: wrap;
            position: relative;
            cursor: pointer;
            margin: 5px 5px;
            margin-left: 10px;

            &:after {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%); //из центра в стороны
                // left: 0; если вместо left: 50%; и transform: translateX(-50%); будет слева направо
                /*изменить на right:0;, чтобы изменить направление подчёркивания */
                //Верхнее плавное подчеркивание: Вместо :after в стилях, используйте :before
                width: 0;
                /*задаём длинну линии до наведения курсора*/
                height: 2px;
                /*задаём ширину линии*/
                background: $color-text-five;
                /*задаём цвет линии*/
                content: "";
                transition: width 0.3s ease-out;
                /*задаём время анимации*/
                bottom: -5px;
                /*задаём отступ линии от текста*/
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
                /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }
    }
}


.header {

    &__wrap-title {
        @extend %font-h1;
        display: flex;
        gap: 10px;
        flex-direction: column;
        color: $color-text-one;
    }

    &__title-projects {
        text-align: left
    }

    &__title-building {
        text-align: center
    }

    &__title-allocation {
        @extend %font-h1;
        color: $color-text-four;

        @media ( max-width: 515px){
            font-size: 120px;
        }

        @media ( max-width: 425px){
            font-size: 95px;
            line-height: 0%;
         }
    }

    &__title-text {
        @media ( max-width: 515px){
            font-size: 100px;
         }

         @media ( max-width: 425px){
            font-size: 75px;
            line-height: 0%;
         }
    }

    &__title-business {
        text-align: right;
        margin-bottom: 118px;
        @media ( max-width: 1250px){
            margin-bottom: 0px;
         }
    }
}

.header {

    position: relative;

    &__wrap-work {
        // @extend %flex-between;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 5px;
        margin-bottom: 32px;
        flex-wrap: wrap-reverse;
       
        
    }

    &__block {
        @extend %flex-between;
        gap: 32px;
        @media ( max-width: 1250px){
            width: 100%;
         }
        @media ( max-width: 768px){
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         }
    }

    &__project {
        display: flex;
        flex-direction: column;
        z-index: 10;
        margin: 5px 0px;
        @media ( max-width: 768px){
           width: 85%;
            flex-direction: row;
            justify-content: space-between;
         }
         @media ( max-width: 576px){
            width: 100%;
             flex-direction: row;
             justify-content: space-between;
            //  flex-wrap: wrap;
          }
          @media ( max-width: 495px){
            
             flex-direction: column;
            align-items: center;
          }

        img {
            border-radius: 24px;
            width: 300px;
            object-fit: cover;
            height: 200px;
            margin-bottom: 12px;
            @media ( max-width: 768px)
            {
                width: 350px;
                height: 220px;
              }
        }

        .header__info {
            @extend %font-text-main;
            @media (max-width:1023px) {              
                display: flex; 
                flex-direction: column;
                @media ( max-width: 768px)
                {
                    font-size: 24px;
                    
                  }
            }
        }

        .header__br {
            @media (max-width:1023px) {
                display: none;

            }
        }
    }

    &__window {
        position: absolute;
        left: 47px;
       
        bottom: 76px;
         
        @media (max-width:990px) {
            left: 35px;
        }

        @media (max-width:940px) {
            left: 20px;
        }
        @media (max-width:910px) {
            left: 2px;
        }
    }



    &__text-block {
        @extend %flex-center;
        @extend %font-h3;
        margin: 24px 5px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        @media ( max-width: 1250px){
            width: 100%;
            margin-top: 32px;
         }

        @media (max-width:768px) {
            font-size: 24px;
           
        }
    }

    &__text-tel{
        @extend %font-text-main ;
    }

    &__tel {
        @extend %flex-center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $color-text-two;
        margin-bottom: 25px;
    }
}