@import '../../Components/Styles/index.scss';


.reviews {
    background: linear-gradient(360deg, rgba(0, 96, 254, 0.80) 0%, #0060FE 100%);
    border-radius: 16px;
    position: relative;

    &__container {
        @extend %container-content;
        position: relative;
        padding: 0px 3px;
    }

    &__title {
        @extend %font-h2;
        color: $color-text-three;
        margin: 50px 0px;
        @media (max-width:380px) {
            font-size: 58px;
            margin: 20px 0px;
        }
    }

    &__wrap-block {
        display: flex;
        margin-bottom: 32px;

        @media (max-width:960px) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            gap: 10px;
        }
       
    }

    &__text {
    }

    &__slider {
        border-radius: 16px;
        margin: 0px 7px 0px 10px;
       
    }
    &__decor-one {
        position: absolute;
        right: 0px;
        top: 0px;
    
    }
   
}
