
$color-text-one: #FFFFFF;
$color-text-two: #0060FE;
$color-text-three: #F1F6FF;
$color-text-four: #71A7FE;
$color-text-five: #285CAE;
$color-text-six: rgba(40, 92, 174, 0.60);
$color-text-seven: rgba(255, 255, 255, 0.48);

$color-bg: linear-gradient( 360deg,rgba(0, 96, 254, 0.80) 0%, #0060FE 100%);