@import'./Components/Assets/Fonts';
@import './Components/Styles/';

.App {
  @extend %container-main;
  display: flex;
  flex-direction: column; //footer к низу экрана
  min-height: 100vh;
}

body {
  font-family: 'NeueMontreal', sans-serif;
  color: $color-text-one;
  font-weight:450;
}

a.active {color:
  // $color-text-one;
  // $color-text-two;
  // $color-text-three;
  // $color-text-four;
  $color-text-five;
  // $color-text-six;
  // $color-text-seven;
  
  
  }
