// @import 'swiper/scss';
@import '../Styles/index.scss';



//------------------Slider-----------
.swiper{
//  max-width:500px;
 width: 100%;
 height: auto;
//  border-radius: 16px;
}
.slider__wrap {
    max-width: 500px;
    // border-radius: 16px;

}
.swiper-wrapper {
   
}

.swiper-slide {
    
}

.swiper-slide img {
    // width: 500px;
    // height: 100%;
    object-fit:cover;
    // width: 300px; 
}


.swiper-button-prev:after {
    // color: $color-one;
}

.swiper-button-next:after {
    // color: $color-one;
}

.swiper-pagination-fraction {
    // color: $color-one!important;
}

//------------------Slidе-----------

.slider {

    &__container {
        display: flex;
        height: 250px;
        // margin: 0px 15px;
        border-radius: 16px;
background: rgba(255, 255, 255, 0.10);

    }

    &__wrap-img {
        flex-shrink: 0;
        margin: 10px 10px;
        
        img{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__wrap-text {
        margin: 10px 0px;
    }

    &__text {
        // margin: 25px 0px;
        margin-bottom: 20px;
    }

    &__name {
    }

    &__who {
      @extend %font-text-main;
       color: $color-text-seven;
    //    color: rgba(255, 255, 255, 0.60);


    }
}
