// @import 'swiper/scss';
@import '../Styles/index.scss';



//------------------Slider-----------
.swiper {
    // background: rgba(255, 255, 255, 0.10);
    //  max-width:500px;
    //  width: 100%;
    //  height: auto;
    //  border-radius: 16px;
}

.slider__wrap {
    width: 55vh;
    height: 230px;

    // border-radius: 16px;
    @media (max-width: 960px) {
        width: 90vh;
        height: 190px;
    }
    @media (max-width: 760px) {
        width: 70vh;
        height: 210px;
    }
    @media (max-width: 600px) {
        width: 50vh;
        height: 260px;
    }
    
    @media (max-width: 430px) {
        width: 45vh;
        height: 285px;
    }
    @media (max-width: 380px) {
        width: 40vh;
        height: 360px;
    }
    // @media (max-width: 380px) {
    //     width: 40vh;
    //     height: 350px;
    // }
    @media (max-width: 340px) {
        width: 35vh;
        height: 375px;
    }
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-slide img {
    // width: 500px;
    // height: 100%;
    object-fit: cover;
    // width: 300px; 
}


.swiper-button-prev:after {
    // color: $color-one;
}

.swiper-button-next:after {
    // color: $color-one;
}

.swiper-pagination-fraction {
    // color: $color-one!important;
   
    
}

//------------------Slidе-----------

.slider {

    &__container {
        display: flex;
        justify-content: space-between;
        height: 400px;
        // margin: 0px 15px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.10);

        // @media (max-width: 580px) {
           
        //     height: 285px;
        // }
        // @media (max-width: 505px) {
           
        //     height: 300px;
        // }

        @media (max-width: 380px) {
           flex-wrap: wrap;
       
           justify-content: center;
            height: 400px;
        }

    }

    &__wrap-img {
        flex-shrink: 0;
        max-width: 96px;
        max-height: 96px;
        margin: 10px 10px;
        

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__wrap-text {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
        height: 70%;
    }

    &__text {
        margin: 25px 0px;
        margin-bottom: 20px;

        // @media (max-width: 380px) {
        //     margin: 0px 0px;
        //  }
    }

    &__name {}

    &__who {
        @extend %font-text-main;
        color: $color-text-seven;
        //    color: rgba(255, 255, 255, 0.60);
       

    }
}